.navbar{
background-color:#BDBDBD;
margin-bottom: 20px;


}
.countainer{
background-color: #848484;
}
.bg-footer{
    background-color: black;
    color: white;
}
.margin{
    padding-bottom: 50px;
    padding-top: 10px;
